[Unit]
Description=Anki Sync Server for __APP__
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__
EnvironmentFile=/etc/yunohost/apps/__APP__/conf/ankisync.env
ExecStart=__INSTALL_DIR__/anki-sync-server
Restart=on-failure

[Install]
WantedBy=multi-user.target
